<body ng-controller="LoginCtrl">

<div id="main" role="main">
  <div class="content">
    <div class="row span8 center">
      <div>
        <%= render 'layouts/messages' %>
      </div>

      <tabset class="frontpage">
        <tab heading="Übersicht"><%= render 'layouts/overview' %></tab>
        <tab heading="Hintergrundinformationen"><%= render 'layouts/background' %></tab>
        <tab heading="Anmelden"><%= render 'layouts/login' %></tab>
        <tab heading="Registrieren"><%= render 'layouts/register' %></tab>
        <tab heading="Impressum"><%= render 'layouts/impressum' %></tab>
      </tabset>
    </div>
  </div>
</div>

</body>