<body ng-controller="LoginCtrl">

<div id="main" role="main">
  <div class="content">
    <div class="row col-md-8 center">
      <div>
        <%= render 'layouts/messages' %>
      </div>

      <uib-tabset class="frontpage">
        <uib-tab heading="Uebersicht"><%= render 'layouts/overview' %></uib-tab>
        <uib-tab heading="Hintergrundinformationen"><%= render 'layouts/background' %></uib-tab>
        <uib-tab heading="Anmelden"><%= render 'layouts/login' %></uib-tab>
        <uib-tab heading="Registrieren"><%= render 'layouts/register' %></uib-tab>
        <uib-tab heading="Impressum"><%= render 'layouts/impressum' %></uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>

</body>
