<body ng-controller="GamesCtrl">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <%= t '.title' %>
      </div>
      <ul class="nav">
        <nav-location name="games" show="$parent.show" visible="show!='finance'"
                      href="#/games">
          <%= t 'games_title' %>
        </nav-location>
        <nav-location name="materials" show="$parent.show" visible="show!='finance'" href="#/materials">
          <%= t 'materials' %>
        </nav-location>
      </ul>
      <ul class="nav pull-right">
        <nav-location name="logout" href="<%= root_url %>logout"><%= t '.logout' %></nav-location>
      </ul>
    </div>
  </div>
</div>

<div id="main" role="main">
  <div class="container">
    <div class="content row">
      <div class="span12">
        <%= render 'layouts/messages' %>
        <div ng-view ng-init="game.supervisor_id=<%= session[:supervisor_id] %>">
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container -->
</div>
<!-- end of #main -->

</body>