<!DOCTYPE html>
<html ng-app="app.soil">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="author" content="Florian Feldhaus">
  <title>Soil</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<%= yield %>

<script>
    // Disable overscroll / viewport moving on everything but scrollable divs
    $('body').on('touchmove', function (e) {
        if (!$('.scrollable').has($(e.target)).length) e.preventDefault();
    });
</script>

</html>